main {
  padding: 57px 27px;
  background-image: url("../../assets/ReactIconLight.png");
  background-repeat: no-repeat;
  background-position: right center;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 40, 58);
  transition: all 0.6s ease;

  .main__title {
    margin: 0;
    font-size: 39px;
  }

  .main__facts {
    margin: 25px 0px 0px 25px;
    max-width: 400px;
    width: 100%;

    li {
      line-height: 19px;
      padding: 10px 0px;

      &::marker {
        font-size: 24px;
        color: rgb(97, 218, 251);
      }
    }
  }
}

main.dark {
  background-image: url("../../assets/ReactIconDark.png");
  color: rgb(255, 255, 255);
  background-color: rgb(40, 45, 53);
  transition: all 0.6s ease;
}
