#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding: 0px 5px;
  max-width: 550px;
  width: 100%;
}